.nav__title {
  white-space: nowrap; }

.nav__logo {
  width: 10rem;
  margin-bottom: -7rem;
  margin-left: -.5rem;
  z-index: 999;
  position: relative; }

.nav__title-box {
  position: relative; }

.nav__title {
  margin-top: -7rem;
  margin-right: 2rem;
  font-size: 6rem;
  z-index: 5;
  position: absolute;
  right: 0;
  bottom: -3rem;
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }

.nav__navbar {
  height: 4rem;
  align-items: flex-end; }

.widg-title {
  margin-bottom: -2rem;
  animation: moveInTop .75s ease-in-out .5s;
  animation-fill-mode: backwards;
  backface-visibility: hidden; }

.navbar-nav {
  align-items: flex-end;
  width: 110%;
  margin-left: -1rem;
  background-color: black; }

nav {
  background-color: black; }

.trustpilot-widget {
  margin-bottom: -8rem;
  margin-top: 2rem; }

@media (max-width: 1500px) {
  .nav__title {
    font-size: 3rem; } }

@media (max-width: 1024px) {
  .trustpilot-widget {
    margin-bottom: 5rem;
    margin-top: 1rem; } }

@media (max-width: 850px) {
  .trust-top {
    display: none; }
  .navbar-dark .navbar-toggler-icon {
    position: absolute;
    top: .5rem;
    right: 45%; }
  .navbar-dark .navbar-toggler {
    border-color: rgba(0, 0, 0, 0) !important; }
  .navbar-dark .navbar-toggler:focus {
    outline: rgba(0, 0, 0, 0) !important; }
  .navbar-nav {
    margin-top: -15rem; }
  .nav__logo {
    width: 7rem;
    margin-bottom: 9rem; }
  .nav__title-box {
    position: relative; }
  .nav__title {
    font-size: 3rem;
    z-index: 5;
    position: absolute;
    right: 0;
    bottom: 14rem; }
  .nav__navbar {
    height: 3rem;
    align-items: flex-end; }
  .nav-item {
    background: orange;
    width: 100%;
    margin: .25rem 0;
    padding: 1rem;
    font-size: 1rem;
    height: 50%; }
  .nav-link {
    padding: 0; }
  .nav-item:hover {
    background: #f8c971; }
  .navbar-nav {
    padding: 6.5rem 2rem 2rem 2rem;
    text-align: center; } }

.quote__toggler {
  width: 100%; }

.quote__body {
  width: 100%;
  text-align: center; }

.quote__wrap {
  background-color: white;
  width: 75%;
  text-align: center; }

.quote__wrap2 {
  background-color: rgba(0, 0, 0, 0.692);
  padding: 1rem; }

.quote__contact-us-title {
  font-size: 4rem;
  margin-top: -3rem; }

.quote__flexer {
  justify-content: space-between; }

.quote__telephone {
  justify-content: flex-end;
  align-items: flex-end; }

.quote__social-wrap {
  margin: 0 0 .5rem 1rem; }

@media (max-width: 850px) {
  .quote__wrap {
    width: 100%;
    padding-left: 0; }
  .quote__wrap2 {
    padding-right: 2rem; }
  .quote__social-wrap {
    width: 5rem; }
  .quote__flexer {
    display: block !important; }
  .quote__inner-flex {
    justify-content: flex-end; }
  .quote__contact-us-title {
    font-size: 3rem;
    white-space: nowrap; }
  .quote__contact-us-title-2 {
    font-size: 2rem;
    white-space: nowrap; } }

.header__wrap {
  background-image: url("https://images.pexels.com/photos/1094770/pexels-photo-1094770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-attachment: fixed;
  background-size: cover;
  padding: 10rem 5rem;
  margin-top: 4rem; }

.header__text-box {
  background-color: rgba(0, 0, 0, 0.685);
  padding: 3rem 1rem 1rem 1rem;
  width: 75%; }

.header__title {
  font-size: 3rem;
  margin-bottom: -2rem;
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }

@media (max-width: 850px) {
  .header__wrap {
    display: block !important;
    padding: 8rem 0 0 0;
    margin-top: 2rem;
    text-align: center; }
  .header__text-box {
    background-color: rgba(0, 0, 0, 0.685);
    padding: 3rem 1rem 1rem 1rem;
    width: 100%; }
  .header__title {
    font-size: 2.5rem;
    margin-bottom: -2rem; }
  .header__left {
    padding-bottom: 20rem; } }

.content__right-box {
  background-image: url("https://images.pexels.com/photos/21387/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-attachment: fixed;
  background-size: cover;
  padding: 1rem;
  border: black solid 1rem;
  margin-top: -13rem;
  width: 60%;
  min-width: 35rem; }

.content__middle-right-box {
  background-image: url("https://images.pexels.com/photos/168452/pexels-photo-168452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-attachment: fixed;
  background-size: cover;
  padding: 1rem;
  border: black solid 1rem;
  margin-top: -13rem;
  width: 60%;
  min-width: 30rem; }

.content__right-img-box {
  margin-bottom: 1rem;
  border: solid black .5rem;
  padding: 0; }

.content__right-logo-box {
  position: absolute;
  width: 8rem;
  bottom: 1rem;
  left: 10rem; }

.content__left-header-box {
  margin-top: -3rem;
  margin-left: 8rem;
  display: inline; }

.content__header-box {
  margin-top: -5rem;
  padding-left: 10rem; }

.content__left-header {
  font-size: 4rem;
  margin-top: 1rem;
  z-index: 5;
  position: relative;
  display: inline;
  width: auto; }

.content__smudge {
  height: 5rem; }

.content__splat-box {
  width: 40%;
  margin-top: -14rem;
  margin-left: 5rem;
  z-index: 0;
  position: relative; }

.content__mud-1 {
  transform: rotate(-15deg);
  z-index: 5;
  position: absolute;
  top: -1rem;
  left: -4rem;
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }

.content__mud-2 {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 8rem;
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }

.content__mud-3 {
  transform: rotate(3deg);
  z-index: 5;
  position: absolute;
  top: 0;
  left: 16rem;
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }

.content__mud-wrap {
  position: relative; }

.content__splat-box2 {
  position: absolute;
  top: -10rem;
  left: 3rem;
  width: 70%;
  z-index: 0; }

.content__right-header {
  margin-top: -6.5rem;
  text-align: center; }

.content__bottom-right-img-box {
  border: 1rem solid black;
  padding: 0;
  background-color: black; }

.content__monkey-box {
  position: absolute;
  width: 30%;
  top: -5.4rem;
  right: 1rem;
  z-index: 6; }

.content__button {
  position: relative;
  z-index: 99; }

@media (max-width: 300px) {
  .content__right-box {
    padding: 1rem;
    border: black solid 1rem;
    margin-top: -11rem;
    width: 100%;
    min-width: 15rem !important; }
  .content__middle-right-box {
    padding: 1rem;
    border: black solid 1rem;
    margin-top: -10rem;
    width: 100%;
    min-width: 15rem !important; }
  .content__right-logo-box {
    position: absolute;
    width: 5rem;
    bottom: 4rem;
    right: -2rem !important; }
  .content__mud-3 {
    left: 0rem !important; } }

@media (max-width: 850px) {
  .content__right-box {
    padding: 1rem;
    border: black solid 1rem;
    margin-top: -11rem;
    width: 100%;
    min-width: 18rem; }
  .content__middle-right-box {
    padding: 1rem;
    border: black solid 1rem;
    margin-top: -10rem;
    width: 100%;
    min-width: 18rem; }
  .content__right-logo-box {
    position: absolute;
    width: 5rem;
    bottom: 4rem;
    right: -4rem; }
  .content__smudge {
    height: 5rem; }
  .content__splat-box {
    display: none; }
  .content__mud-1 {
    font-size: 2rem;
    z-index: 5;
    top: 1rem;
    left: 0;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }
  .content__mud-2 {
    z-index: 5;
    top: 3rem;
    left: 3rem;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }
  .content__mud-3 {
    z-index: 5;
    top: 5rem;
    left: 4rem;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }
  .content__mud-wrap {
    position: relative; }
  .content__splat-box2 {
    position: absolute;
    top: -10rem;
    left: 0;
    width: 100%;
    z-index: 0; }
  .content__right-header {
    margin-top: -6.5rem;
    text-align: center;
    font-size: 3rem !important; }
  .content__bottom-right-img-box {
    border: 1rem solid black;
    padding: 0;
    background-color: black; } }

.mud {
  padding-top: 20rem; }
  .mud__top {
    position: absolute;
    height: 30rem;
    width: 30rem;
    z-index: 10;
    left: 15rem;
    top: -4rem; }
  .mud__title-box1 {
    position: absolute;
    top: 7rem;
    left: -2rem;
    transform: rotate(-15deg);
    z-index: 3;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }
  .mud__title-box2 {
    position: absolute;
    top: 10rem;
    left: 8rem;
    z-index: 3;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }
  .mud__title-box3 {
    position: absolute;
    top: 10rem;
    left: 18rem;
    transform: rotate(5deg);
    z-index: 3;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }
  .mud__monkey-box {
    position: absolute;
    top: 1.5rem;
    right: -2rem;
    width: 40%;
    transform-origin: 50% 0%;
    animation: swing 7s ease-in-out infinite;
    animation-fill-mode: backwards;
    backface-visibility: hidden; }
  .mud__splat-box2 {
    position: relative;
    top: 10rem;
    width: auto; }
  .mud__title {
    white-space: nowrap;
    font-size: 5rem;
    margin-left: -3rem;
    margin-bottom: 5rem; }
  .mud__mud-flex-wrap {
    position: relative; }
  .mud__carousel {
    width: 70%; }
  .mud__desc-box {
    padding: 3rem;
    margin-top: 4rem;
    background-image: url("https://images.pexels.com/photos/5209216/pexels-photo-5209216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
    border: 0.5rem black solid;
    position: relative;
    transform: rotate(-5deg);
    width: 95%;
    margin-left: 2rem; }
  .mud__desc-box-tool {
    padding: 3rem;
    margin-top: 4rem;
    background-image: url("https://images.pexels.com/photos/296301/pexels-photo-296301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
    border: 0.5rem black solid;
    position: relative;
    transform: rotate(-5deg);
    width: 95%;
    margin-left: 2rem; }
  .mud__option {
    padding: 3rem;
    margin-top: 10rem;
    background-image: url("https://images.pexels.com/photos/5209216/pexels-photo-5209216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
    border: .5rem black solid;
    position: relative;
    width: 40%;
    display: inline-block;
    margin: -16rem 1rem 2rem 10rem; }
  .mud__desc-box2 {
    padding: 3rem;
    margin-top: 10rem;
    background-image: url("https://images.pexels.com/photos/5209216/pexels-photo-5209216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
    border: .5rem black solid;
    position: relative;
    width: 95%; }
  .mud__desc-box3 {
    padding: 3rem;
    margin-top: 5rem;
    background-size: cover;
    border: .5rem black solid;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.712); }
  .mud__dimensions-wrap {
    padding: 1rem;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.699);
    background-attachment: fixed;
    background-size: cover;
    border: .5rem black solid;
    position: relative;
    width: 70%;
    z-index: 0; }
  .mud__page-title {
    position: relative;
    top: -20rem; }
  .mud__desc-title {
    margin-top: -6rem;
    font-size: 4rem;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }
  .mud__price-list {
    font-size: 4rem;
    margin-top: -6rem;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }
  .mud__img-wrap {
    justify-content: center;
    padding: 0;
    background-color: black;
    position: relative;
    flex-wrap: wrap; }
  .mud__img-container {
    margin-bottom: .5rem;
    position: relative;
    width: 100%; }
  .mud__img-title {
    font-size: 4rem;
    left: 3rem;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }
  .mud__pic {
    width: 100%; }
  .mud__img-desc-wrap {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.582);
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: .5rem; }
  .mud__image-desc {
    margin: 0; }
  .mud__inner-img-container {
    border: .5rem black solid;
    position: absolute;
    transform: rotate(-10deg);
    width: 60%;
    left: -5rem;
    bottom: -5rem; }
  .mud__left-col-wrap {
    position: relative;
    z-index: 5; }
  .mud__desc {
    background-color: rgba(3, 3, 3, 0.699);
    padding: 1rem;
    font-size: 1.5rem; }
  .mud__gallery {
    padding-top: .5rem; }
  .mud__price-mover {
    position: absolute;
    top: 50rem;
    z-index: 10; }
  .mud__desc-title-box {
    padding-bottom: 3rem; }
  .mud__standard-wrap {
    width: 70%;
    border: black solid .5rem;
    padding: 0;
    position: relative; }
  .mud__prices {
    position: absolute;
    right: -25rem;
    bottom: -7rem; }
  .mud__price-splat-wrap {
    position: relative;
    bottom: 0rem;
    width: 50%;
    right: 0rem;
    transform: rotate(15deg);
    z-index: 5; }
  .mud__price {
    position: absolute;
    right: 6.5rem;
    bottom: 4.9rem;
    font-size: 4rem;
    z-index: 5; }
  .mud__image-relative {
    position: relative; }
  .mud__dimensions-wrap {
    z-index: 4;
    position: relative; }
  .mud__bases {
    z-index: 10;
    position: relative;
    padding: 0;
    text-indent: none; }
  .mud__item-top {
    list-style-type: none; }
  .mud__item {
    list-style-type: none; }
  .mud__gal-loc {
    height: 10rem; }

@media (max-width: 1366px) {
  .mud__option {
    padding: 3rem;
    margin-top: 10rem;
    background-image: url("https://images.pexels.com/photos/5209216/pexels-photo-5209216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
    border: .5rem black solid;
    position: relative;
    width: 70%;
    display: inline-block;
    margin: 8rem 1rem 0rem 10rem; } }

@media (max-width: 1024px) {
  .mud__option {
    padding: 3rem;
    margin-top: 10rem;
    background-image: url("https://images.pexels.com/photos/5209216/pexels-photo-5209216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
    border: .5rem black solid;
    position: relative;
    width: 90%;
    display: inline-block;
    margin: 8rem 1rem 0rem 2rem; } }

@media (max-width: 850px) {
  .mud__option {
    padding: 1rem;
    margin-top: 10rem;
    background-image: url("https://images.pexels.com/photos/5209216/pexels-photo-5209216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
    border: .5rem black solid;
    position: relative;
    width: 90%;
    display: block;
    margin: 8rem 1rem 0rem 1rem; }
  .mud__desc-box {
    margin-left: auto;
    margin-bottom: 2rem; }
  .mud__top {
    position: absolute;
    height: 20rem;
    width: 23rem;
    z-index: 10;
    left: 0rem;
    top: -2rem; }
  .mud__title {
    font-size: 4rem; }
  .mud__title-box1 {
    position: absolute;
    top: 0rem;
    left: 5rem;
    transform: rotate(-15deg);
    z-index: 3;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }
  .mud__title-box2 {
    position: absolute;
    top: 4rem;
    left: 8rem;
    z-index: 3;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }
  .mud__title-box3 {
    position: absolute;
    top: 8rem;
    left: 4rem;
    transform: rotate(5deg);
    z-index: 3;
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }
  .mud__monkey-box {
    position: absolute;
    top: 1.5rem;
    right: -2rem;
    width: 40%; }
  .mud__splat-box2 {
    position: relative;
    top: 10rem;
    width: auto; }
  .mud__page-title {
    position: relative;
    top: -20rem;
    left: -10rem;
    width: 20%; }
  .mud__prices {
    right: -33rem;
    bottom: -3rem; }
  .mud__price {
    font-size: 2rem;
    right: 2rem;
    bottom: 1rem; }
  .mud__price-splat-wrap {
    width: 20%; }
  .mud__flex-wrap {
    display: block !important;
    text-align: center;
    margin-left: 2rem;
    margin-top: -7rem;
    overflow: hidden; }
  .mud__desc-box {
    padding: 0.5rem;
    margin-left: 0;
    margin-top: 2rem;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    border: .5rem black solid;
    position: relative;
    transform: rotate(0);
    width: 100%; }
  .mud__desc-box2 {
    padding: 3rem 0;
    margin-top: 4rem;
    background-attachment: fixed;
    background-size: cover;
    border: .5rem black solid;
    position: relative;
    text-align: left;
    width: 90%; }
  .mud__inner-img-container {
    border: .5rem black solid;
    position: absolute;
    transform: rotate(10deg);
    width: 60%;
    left: 10rem;
    bottom: 13rem; }
  .mud__price-list {
    position: relative;
    z-index: 5; }
  .mud__image-desc {
    font-size: .5rem;
    white-space: nowrap; }
  .mud__desc-title {
    font-size: 3rem !important; }
  .mud__desc-title-box {
    padding-bottom: 0 !important; }
  .mud__img-wrap {
    display: block !important;
    border: none;
    background-color: rgba(255, 255, 255, 0); }
  .mud__img-container {
    width: 100%;
    margin-bottom: 2rem;
    border: .5rem solid black; }
  .mud__img-title {
    text-align: center;
    position: static; }
  .mud__standard-wrap {
    width: 100%; }
  .mud__dimensions-wrap {
    width: 100%; }
  .mud__price-list {
    text-align: center; }
  .mud__grid {
    padding: 0; }
  .mud__item {
    margin-bottom: 1rem; }
  .mud__img-container {
    margin-bottom: auto; }
  .marg {
    margin-top: 1rem !important; } }

.built__social-wrap {
  margin: 0 0 .5rem 1rem; }

.built__inner-flex {
  margin-top: -3rem;
  position: relative;
  z-index: 20; }

.built__right-box {
  background-image: url("https://images.pexels.com/photos/21387/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-attachment: fixed;
  background-size: cover;
  padding: 1rem;
  border: black solid 1rem;
  width: 60%; }

.built__right-header {
  margin-top: -6.5rem;
  text-align: center; }

.built__right-img-box {
  margin-bottom: 1rem;
  border: solid black .5rem;
  padding: 0; }

.built__right-logo-box {
  position: absolute;
  width: 8rem;
  bottom: 5rem;
  left: 14rem; }

.built__carousel {
  width: 75%; }

.built__desc-box {
  padding: 3rem;
  margin-left: -10rem;
  margin-top: 3rem;
  background-image: url("https://images.pexels.com/photos/21387/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-attachment: fixed;
  background-size: cover;
  border: 0.5rem black solid;
  position: relative;
  width: 95%; }

.built__title {
  font-size: 4rem;
  margin-left: 2%;
  margin-bottom: -2rem;
  position: relative;
  z-index: 5; }

.built__desc {
  background-color: rgba(0, 0, 0, 0.582);
  padding: 1rem;
  font-size: 1.4rem; }

.built__desc-title {
  font-size: 4rem;
  margin-top: -6rem; }

.saw-box {
  position: absolute;
  right: -10.8rem;
  bottom: -16rem;
  width: 22.5rem; }

@media (max-width: 850px) {
  aw-box {
    position: absolute;
    right: 13rem;
    bottom: -9rem;
    width: 13.6rem; }
  .built__inner-flex {
    align-items: center; }
  .built__carousel {
    width: 100%; }
  .built__top-wrap {
    display: block !important; }
  .built__desc-box {
    margin-left: auto;
    margin-right: auto;
    padding: 0rem; }
  .built__right-box {
    padding: 1rem;
    border: black solid 1rem;
    width: 100%; }
  .built__right-header {
    margin-top: -6.5rem;
    text-align: center;
    font-size: 3rem !important; }
  .built__right-logo-box {
    position: absolute;
    width: 5rem;
    bottom: 5rem;
    right: 0rem; }
  .built__title {
    margin-bottom: auto;
    margin-left: auto;
    text-align: center;
    font-size: 4rem;
    margin-top: -4rem;
    margin-bottom: 1rem; }
  .built__vid {
    width: 100%; }
  .built__vid-wrap {
    padding: 0; }
  .built__desc-title {
    font-size: 3rem; }
  .built__desc-title-box {
    padding-bottom: 1rem !important;
    margin-top: 3rem; }
  .built__desc {
    text-align: center;
    font-size: .9rem;
    padding: 1rem 2rem; }
  .built__desc-box {
    padding: 0 .2rem;
    margin-top: 5rem; } }

.pers__logo-box {
  margin-top: 7rem;
  margin-left: 10rem; }

.pers__top-wrap {
  margin-bottom: 10rem; }

.pers__right-box {
  background-image: url("https://images.pexels.com/photos/21387/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-attachment: fixed;
  background-size: cover;
  padding: 1rem;
  border: black solid 1rem;
  width: 60%; }

.pers__right-header {
  margin-top: -6.5rem;
  text-align: center; }

.pers__right-img-box {
  margin-bottom: 1rem;
  border: solid black .5rem;
  padding: 0; }

.pers__right-logo-box {
  position: absolute;
  width: 8rem;
  bottom: 5rem;
  left: 14rem; }

.pers__carousel {
  width: 75%; }

.pers__desc-box {
  padding: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  background-image: url("https://images.pexels.com/photos/1479710/pexels-photo-1479710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  border: 0.5rem black solid;
  position: relative;
  width: 95%; }

.pers__title {
  font-size: 4rem;
  margin-left: 5%;
  margin-bottom: -2rem;
  position: relative;
  z-index: 5;
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }

.pers__desc {
  background-color: rgba(0, 0, 0, 0.692);
  padding: 1rem; }

.pers__desc-title {
  font-size: 4rem;
  margin-top: -6rem;
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }

.pers__vid {
  width: 80%;
  border: .5rem black solid; }

.pers__desc-title-box {
  padding-bottom: 3rem; }

@media (max-width: 850px) {
  .pers__top-wrap {
    display: block !important; }
  .pers__desc-box {
    margin-left: auto;
    margin-right: auto;
    padding: 0rem; }
  .pers__right-box {
    padding: 1rem;
    border: black solid 1rem;
    width: 100%; }
  .pers__right-header {
    margin-top: -6.5rem;
    text-align: center;
    font-size: 3rem !important; }
  .pers__right-logo-box {
    position: absolute;
    width: 5rem;
    bottom: 5rem;
    right: 0rem; }
  .pers__title {
    margin-bottom: auto;
    margin-left: auto;
    text-align: center;
    font-size: 4rem;
    margin-top: -4rem;
    margin-bottom: 1rem; }
  .pers__vid {
    width: 100%; }
  .pers__vid-wrap {
    padding: 0; }
  .pers__desc-title {
    font-size: 3rem; }
  .pers__desc-title-box {
    padding-bottom: 1rem !important;
    margin-top: 3rem; }
  .pers__desc {
    text-align: center; } }

.gal__standard-wrap {
  height: 95%;
  width: 70%;
  border: black solid .5rem;
  padding: 0;
  position: relative;
  overflow: hidden;
  margin-top: 3rem; }

.gal__desc {
  text-align: center;
  margin: 0; }

.gal__bar {
  height: 3rem;
  background-color: black;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%; }

@media (max-width: 850px) {
  .gal__standard-wrap {
    height: 100%;
    width: 100%; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(15rem); }
  80% {
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  80% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-15rem); }
  25% {
    font-size: 25rem; }
  80% {
    transform: translateY(8rem);
    font-size: 5rem; }
  95% { }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(15rem); }
  25% {
    font-size: 25rem; }
  80% {
    transform: translateY(-8rem);
    font-size: 5rem; }
  95% { }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes shake {
  0% {
    transform: rotate(-2deg); }
  10% {
    transform: rotate(5deg); }
  12% {
    transform: rotate(-5deg); }
  15% {
    transform: rotate(5deg); }
  18% {
    transform: rotate(-5deg) scale(1.5); }
  20% {
    transform: rotate(0); }
  100% {
    tranform: roate(0); } }

@keyframes swing {
  0% {
    transform: rotate(0); }
  10% {
    transform: rotate(-15deg); }
  10% {
    transform: rotate(15deg); }
  20% {
    transform: rotate(-15deg); }
  30% {
    transform: rotate(15deg); }
  40% {
    transform: rotate(-15deg); }
  50% {
    transform: rotate(15deg); }
  60% {
    transform: rotate(-15deg); }
  70% {
    transform: rotate(15deg); }
  80% {
    transform: rotate(-15deg); }
  80% {
    transform: rotate(15deg); }
  90% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0); } }

.reviews__more-wrap {
  background-color: white;
  display: inline;
  text-align: center; }

.reviews__title {
  font-size: 5rem;
  margin-bottom: -1rem; }

.fb {
  background-color: white;
  border: .5rem black solid;
  width: 75%;
  text-align: center;
  padding: 1rem; }

@media (max-width: 850px) {
  .fb {
    background-color: white;
    border: .5rem black solid;
    width: 100%;
    text-align: center; }
  .reviews__title {
    font-size: 3rem;
    margin-bottom: -1rem;
    text-align: center; } }

.border-blk {
  border: black .5rem solid; }

.titleAnim {
  animation: moveInTop .75s ease-in-out .5s;
  animation-fill-mode: backwards;
  backface-visibility: hidden; }

.fence {
  background-image: url("https://images.pexels.com/photos/276514/pexels-photo-276514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 40rem;
  background-attachment: fixed;
  background-size: cover; }

.fence-rev {
  background-image: url("https://images.pexels.com/photos/276514/pexels-photo-276514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 10rem;
  padding-top: 15rem; }

.fence-bottom {
  background-image: url("https://images.pexels.com/photos/276514/pexels-photo-276514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 90rem;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 40rem; }

.fence-tool {
  background-image: url("https://images.pexels.com/photos/591652/play-fun-blocks-block-591652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden; }

.fence-mud {
  background-image: url("https://images.pexels.com/photos/1534925/pexels-photo-1534925.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden; }

.fence-built {
  background-image: url("https://images.pexels.com/photos/1094767/pexels-photo-1094767.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  padding: 15rem 2rem 15rem 2rem;
  overflow: hidden; }

.fence-pers {
  background-image: url("https://images.pexels.com/photos/235994/pexels-photo-235994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  padding: 15rem 2rem 0rem 2rem; }

.fence-gal {
  background-image: url("https://images.pexels.com/photos/113726/pexels-photo-113726.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  padding: 15rem 2rem 18rem 2rem; }

.bg-black {
  background-color: black; }

.white {
  color: white; }

.font {
  font-family: 'Patua One', cursive; }

.font2 {
  font-family: 'Grandstander', cursive; }

.bold {
  font-weight: bold; }

.bar {
  height: 5rem;
  width: 100%; }

.fit {
  width: 100%; }

.middle {
  margin-top: -5rem; }

.bottom {
  margin-top: -5rem; }

.above {
  z-index: 3; }

.below {
  z-index: 1; }

.big {
  font-size: 4rem; }

.block {
  display: block !important;
  margin-top: -4rem; }

* {
  scroll-behavior: smooth; }

input {
  padding: .5rem;
  margin: .5rem;
  width: 100%; }

textarea {
  width: 100%;
  height: 10rem;
  margin: .5rem; }

.twist {
  transform: rotate(45deg); }

.footer {
  background-color: black;
  height: 3rem;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end; }
  .footer__copy {
    margin-right: 1rem;
    margin-top: .5rem; }

.pad {
  height: 5rem; }

.padtop10 {
  padding-top: 10rem; }

.padbot10 {
  padding-bottom: 10rem; }

button {
  z-index: 1; }

.nopm {
  padding: 0 .25rem;
  margin: 0; }

.mjlogo-wrap {
  width: 5%;
  margin-bottom: .4rem;
  margin-right: .5rem;
  margin-left: 1rem; }

.mjdesign {
  align-items: flex-end;
  justify-content: flex-start; }

.mjdesc {
  margin: 0; }

.marg {
  margin-top: 5rem; }

.emph {
  color: orange;
  font-size: 2rem; }

.bordery {
  border: .5rem solid black; }

.txt-border {
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black; }

.footer__copy {
  margin: 0 1rem; }

.mjlogolink {
  color: white; }

a:hover {
  color: orange;
  text-decoration: none; }

.scale:hover {
  transform: scale(1.2); }

* {
  transition: all .5s; }

.over {
  overflow: hidden; }

.mobile {
  display: none; }

@media (max-width: 300px) {
  .fence {
    overflow: hidden !important; }
  .fence-bottom {
    overflow: hidden !important; } }

@media (max-width: 700px) {
  .desktop {
    display: none !important; } }

@media (max-width: 850px) {
  .mobile {
    display: block; }
  .fence-rev {
    padding-top: 10rem; }
  .fence {
    height: 30rem; }
  .fence-built {
    padding: 15rem .5rem 0rem .5rem; }
  .fence-pers {
    padding: 15rem .5rem 0rem .5rem; }
  .mjdesc {
    font-size: .75em; }
  .mjlogo-wrap {
    margin-bottom: .5rem;
    width: 2rem; }
  .footer__copy-box {
    margin-bottom: 0; }
  .footer__copy {
    margin: 0;
    font-size: 1rem;
    white-space: nowrap; }
  .fence-gal {
    display: block !important;
    padding-top: 8rem; } }
