@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(15rem);
    }
    80% {
        transform: translateX(-3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-15rem);
    }
    80% {
        transform: translateX(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-15rem);
    }
    25% {
        font-size: 25rem;
    }
    80% {
        transform: translateY(8rem);
        font-size: 5rem;
    }
    95% {
        
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(15rem);
    }
    25% {
        font-size: 25rem;
    }
    80% {
        transform: translateY(-8rem);
        font-size: 5rem;
    }
    95% {
        
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes shake {
    0% {
        transform: rotate(-2deg);
    }
    10% {
        transform: rotate(5deg);
    }
    12% {
        transform: rotate(-5deg);
    }    
    15% {
        transform: rotate(5deg);
    }
    18% {
        transform: rotate(-5deg) scale(1.5);
    }
    20% {
        transform: rotate(0);
    }
    100% {
        tranform: roate(0);
    }
    
}

@keyframes swing {
     0% {
        transform: rotate(0)
     }

     10% {
        transform: rotate(-15deg)
     }
     10% {
        transform: rotate(15deg)
     }
     20% {
        transform: rotate(-15deg)
     }
     30% {
        transform: rotate(15deg)
     }
     40% {
        transform: rotate(-15deg)
     }
     50% {
        transform: rotate(15deg)
     }
     60% {
        transform: rotate(-15deg)
     }
     70% {
        transform: rotate(15deg)
     }
     80% {
        transform: rotate(-15deg)
     }
     80% {
        transform: rotate(15deg)
     }
     90% {
        transform: rotate(-15deg)
     }
     100% {
        transform: rotate(0)
     }
}