.built {
	&__social-wrap {
		margin: 0 0 .5rem 1rem;
	}
	&__inner-flex {
		margin-top: -3rem;
		position: relative;
		z-index: 20;
	}
	&__right-box {
		background-image: url("https://images.pexels.com/photos/21387/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		background-attachment: fixed;
		background-size: cover;
		padding: 1rem;
		border: black solid 1rem;
		width: 60%;
	}
	&__right-header {
		margin-top: -6.5rem;
		text-align: center;
	}
	&__right-img-box {
		margin-bottom: 1rem;
		border: solid black .5rem;
		padding: 0;
	}
	&__right-logo-box {
		position: absolute;
		width: 8rem;
		bottom: 5rem;
		left: 14rem;
	}
	&__carousel {
		width: 75%;
	}
	&__desc-box {
		padding: 3rem;
		margin-left: -10rem;
		margin-top: 4rem;
		background-image: url("https://images.pexels.com/photos/21387/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		background-attachment: fixed;
		background-size: cover;
		border: .5rem rgb(0, 0, 0) solid;
		position: relative;
		width: 95%;
	}
	&__title {
		font-size: 4rem;
		margin-left: 2%;
		margin-bottom: -2rem;
		position: relative;
		z-index: 5;
	}
	&__desc {
		background-color: rgba(0, 0, 0, 0.384);
		padding: 1rem;
	}
	&__desc-title {
		font-size: 4rem;
		margin-top: -6rem;
	}
}
.saw-box {
	position: absolute;
	right: -10.8rem;
	bottom: -16rem;
	width: 22.5rem;
}

@media (max-width: 850px) {
	aw-box {
		position: absolute;
		right: 13rem;
		bottom: -9rem;
		width: 13.6rem;
	}
	.built {
		&__inner-flex {
			align-items: center;
		}
		&__carousel {
			width: 100%;
		}
		&__top-wrap {
			display: block !important;
		}
		&__desc-box {
			margin-left: auto;
			margin-right: auto;
			padding: 0rem;
		}
		&__right-box {
			padding: 1rem;
			border: black solid 1rem;
			width: 100%;
		}
		&__right-header {
			margin-top: -6.5rem;
			text-align: center;
			font-size: 3rem !important;
		}
		&__right-logo-box {
			position: absolute;
			width: 5rem;
			bottom: 5rem;
			right: 0rem;
		}
		&__title {
			margin-bottom: auto;
			margin-left: auto;
			text-align: center;
			font-size: 4rem;
			margin-top: -4rem;
			margin-bottom: 1rem;
		}
		&__vid {
			width: 100%;
		}
		&__vid-wrap {
			padding: 0;
		}
		&__desc-title {
			font-size: 3rem;
		}
		&__desc-title-box {
			padding-bottom: 1rem !important;
			margin-top: 3rem;
		}
		&__desc {
			text-align: center;
		}
	}
}
