.nav {
	&__title {
		white-space: nowrap;
	}
	&__logo {
		width: 10rem;
		margin-bottom: -7rem;
		margin-left: -.5rem;
		z-index: 999;
		position: relative;
	}
	&__title-box {
		position: relative;
	}
	&__title {
		margin-top: -7rem;
		margin-right: 2rem;
		font-size: 7rem;
		z-index: 5;
		position: absolute;
		right: 0;
		bottom: -3rem;
		text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black,
			2px -2px 0 black, -2px 2px 0 black;
	}
	&__navbar {
		height: 4rem;
		align-items: flex-end;
	}
}
.widg-title {
	margin-bottom: -2rem;
}
.navbar-nav {
	align-items: flex-end;
	width: 110%;
	margin-left: -1rem;
	background-color: black;
}
nav {
	background-color: black;
}
.trustpilot-widget {
	margin-bottom: -8rem;
	margin-top: 2rem;
}
@media (max-width: 1185px) {
	// .nav__title {
	// 	display: none
	// }
}
@media (max-width: 1500px) {
	.nav__title {
		font-size: 3rem;
	}
}
@media (max-width: 1024px) {
	// .nav__title {
	// 	display: none;
	// }
	.trustpilot-widget {
		margin-bottom: 5rem;
		margin-top: 1rem;
	}
	// .desktop {
	// 	display: none;
	// }
	
}
@media (max-width: 850px) {
	.trustpilot-widget {
		display: none;
	}
	.navbar-dark .navbar-toggler-icon {
		position: absolute;
		top:0;
		right: 0;

	}
	.navbar-dark .navbar-toggler {
		border-color: rgba(0, 0, 0, 0)!important;
	}
	.navbar-dark .navbar-toggler:focus {
		outline: rgba(0, 0, 0, 0)!important;
	}
	.navbar-nav {
		margin-top: -4rem;
	}
	.nav {
		&__logo {
			width: 7rem;
			margin-bottom: 9rem;
		}
		&__title-box {
			position: relative;
		}
		&__title {
			font-size: 3rem;
			z-index: 5;
			position: absolute;
			right: 0;
			bottom: 14rem;
		}
		&__navbar {
			height: 3rem;
			align-items: flex-end;
		}
		
	}
	.nav-item {
		background: orange;
		width: 100%;
		margin: .25rem 0;
		padding: 1rem;
		font-size: 1rem;
		height: 50%;
	}
	.nav-link {
		padding: 0;
	}
	.nav-item:hover {
		background: rgb(248, 201, 113);
	}
	.navbar-nav {
		padding: 6.5rem 2rem 2rem 2rem;
		text-align: center;
	}
}
