.quote {
	&__toggler {
		width: 100%;
	}
	&__body {
		width: 100%;
		text-align: center;
	}
	&__wrap {
		background-color: white;
		width: 75%;
		text-align: center;
	}
	&__wrap2 {
		background-color: rgba(0, 0, 0, 0.692);
		padding: 1rem;
		position: relative;
		z-index: 100;
	}
	&__contact-us-title {
		font-size: 4rem;
		margin-top: -3rem;
	}
	&__flexer {
		justify-content: space-between;
	}
	&__telephone {
		justify-content: flex-end;
		align-items: flex-end;
	}
	&__social-wrap {
		margin: 0 0 .5rem 1rem;
	}
}
@media (max-width: 1080px) {
}
@media (max-width: 768px) {
}
@media (max-width: 900px) {
}
@media (max-width: 850px) {
	.quote {
		&__wrap {
			width: 100%;
			padding-left: 0;
		}
		&__wrap2 {
			padding-right: 2rem;
		}
		&__social-wrap {
			width: 5rem;
		}
		&__flexer {
			display: block !important;
		}
		&__inner-flex {
			justify-content: flex-end;
		}
		&__contact-us-title {
			font-size: 3rem;
			white-space: nowrap;
		}
		&__contact-us-title-2 {
			font-size: 2rem;
			white-space: nowrap;
		}
	}
}
