@import 'Modules/nav', 'Modules/quote', 'Modules/header', 'Modules/content', 'Modules/mud', 'Modules/built', 'Modules/pers';
.fence {
  background-image: url("https://images.pexels.com/photos/276514/pexels-photo-276514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 50vh;
  background-attachment: fixed;
  background-size: cover;
}
.fence-mud {
  // background-image: url("https://images.pexels.com/photos/1438516/pexels-photo-1438516.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-image: url("https://images.pexels.com/photos/1534925/pexels-photo-1534925.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: auto;
  background-attachment: fixed;
  background-size: cover;
}
.fence-built {
  background-image: url("https://images.pexels.com/photos/1094767/pexels-photo-1094767.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  padding: 15rem 2rem 15rem 2rem;
}
.fence-pers {
  background-image: url("https://images.pexels.com/photos/235994/pexels-photo-235994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  padding: 15rem 2rem 15rem 2rem;
}
.bg-black {
    background-color: black;
}
.white {
    color: white;
}
.font {
    font-family: 'Patua One', cursive;
  }
.font2 {
    font-family: 'Grandstander', cursive;
}
.bold {
  font-weight: bold;
}
.bar {
  height: 5rem;
  width: 100%;
} 
.middle {
  margin-top: -5rem;
}
.bottom {
  margin-top: -5rem;
}
.above {
  z-index: 3;
}
.below {
  z-index: 1;
}
.big {
  font-size: 4rem;
}
.block {
  display: block!important;
  margin-top: -4rem;
}
input {
  padding: .5rem;
  margin: .5rem;
  width: 100%;
}
textarea {
  width: 100%;
  height: 10rem;
  margin: .5rem
}
.twist {
  transform: rotate(45deg);
}
.footer {
  background-color: black;
  height: 3rem;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  &__copy {
    margin-right: 1rem;
    margin-top: .5rem;
  }
}
.pad {
  height: 5rem;
}
.padtop10 {
  padding-top: 10rem;
}
.padbot10 {
  padding-bottom: 10rem;
}
button{
  z-index: 99;
}
.nopm {
  padding: 0 .25rem;
  margin: 0;
}
.mjlogo-wrap {
  width: 5%;
  margin-bottom: .4rem;
  margin-right: .5rem;
  margin-left: 1rem;;
}
.mjdesign {
  align-items: flex-end;
  justify-content: flex-start;
}
.mjdesc {
  margin: 0;
}
.marg {
  margin-top: 5rem;
}
.emph {
  color: orange;
  font-size: 2rem;
}
.bordery {
  border: .5rem solid black;
}
.txt-border {
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
}

@media (max-width: 750px) {
.desktop {
  display: none!important;
}
.fence {
  height: 60vh;
}
.fence-mud {
  overflow: hidden;
}
.fence-built {
  padding: 15rem .5rem;
}
.fence-pers {
  padding: 15rem .5rem;
}
}
